$screen-sm-min: 480px;

html, body {
	height: 100%;
	min-width: 320px;
}
.container-main {
	padding: 20px 15px;
	height: 100%;
	min-height: 438px;
	position: relative;
	&.top-menu {
		position: absolute;
		left: 0;
		width: 100%;
		background-color: #282c35;
		z-index: 1050;
	}
}
.navbar-brand {
	font-weight: 600;
	text-align: center;
	width: 74%;
	&.doc-title {
		white-space: nowrap;
		width: 83%;
		text-overflow: ellipsis;
		overflow: hidden;
		text-align: center;
		padding-left: 0;
	}
}
.btn-centr.btn-group {
	margin: 0 0 10px;
	width: 100%;
	margin-left: 1px;
	.btn-default {
		width: 50%;
		font-size: 13px;
		cursor: pointer;
		@include button-variant(#0ea646, #fff, #0ea646);
		&.active {
			background-color: $doc_green;
			color:#fff;
		}
	}
	&.three-btn {
		.btn-default {
			width: 33%;
			&:last-child {
				width: 34%;
			}
		}
	}
}


@keyframes progress-bar-stripes {
  from  { background-position: 50px 0; }
  to    { background-position: 0 0; }
}

@-webkit-keyframes progress-bar-stripes{
	from{background-position:50px 0}
	to{background-position:0 0}
}

.btn-primary {
	@include gradient-vertical(#5249c1, #6f68cb);
	@include button-size(.5em, 0, 20px, 1.3em, 6px);
	@include box-shadow(#474282 0 3px 2px);
	margin-top: 15px;
	border-top-color:#645cc7;
	border-bottom-color:#5c56a9;
	border-left:none;
	border-right:none;
	cursor: pointer;
}
.btn-success {
	@include gradient-vertical(#70bc44, #12a746);
	@include button-size(.5em, 0, 20px, 1.3em, 6px);
	@include box-shadow(#0a6a2d 0 3px 2px);
	margin-top: 15px;
	border-left:none;
	border-right:none;
	border-top: none;
	cursor: pointer;
}
.btn-warning {
	@include gradient-vertical(#7b7990, #908fa2);
	@include button-size(.5em, 0, 20px, 1.3em, 6px);
	@include box-shadow(#5d5c68 0 3px 2px);
	margin-top: 15px;
	border-top-color:#88879b;
	border-bottom-color:#868596;
	border-left:none;
	border-right:none;
	cursor: pointer;
}

.btn-primary.animated, .btn-success.animated , .btn-warning.animated {
	@include transition(width .6s ease);
	@include gradient-striped();
	background-size: 50px 50px;
	@include animation(progress-bar-stripes 2s linear infinite);
}
.search-form {
	padding-top: 12px;
	.form-group {
		margin-bottom: 10px;
	}
	option {
		color:#999;
	}
	.btn-primary {
		margin-top: 25px;
	}
}
.row-bottom {
	position: absolute;
	bottom: 7%;
	width: 95%;
}
.row-search {
	.form-group {
		margin-bottom: 0;
		position: relative;
		.form-control {
			padding-left: 40px;
			border-color: $doc_green;
			color: $doc_green;
			height: 34px;
			font-size: 13px;
			margin-bottom: 10px;
			@include placeholder($doc_green);
		}
	}
}
.doc-list {
	// padding-top: 10px;
	h4, h5 {
		color:#302a7a;
	}
	h4 {
		margin-bottom: 3px;
		font-weight: bold;
	}
	h5 {
		margin-top: 0;
		margin-bottom: 5px;
		font-weight: normal;
	}
	.specialization {
		color: $doc_green;
		font-style: italic;
		font-size: 11px;
		line-height: 1.2;
		display: inline-block;
		overflow: hidden;
		text-overflow:ellipsis;
		float: left;
		clear: both;
		margin-bottom: 5px;
		padding-right: 4px;
		width: 100%;
		white-space: nowrap;
	}
	.adress {
		padding-top: 3px;
		margin-top: 1px;
		margin-bottom: 4px;
		font-size: 11px;
		line-height: 1.2;
		display: inline-block;
		position: relative;
		padding-left: 18px;
		float: left;
		clear: both;
		width: 100%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow:ellipsis;
	}
	.ranking {
		font-size: 13px;
		font-weight: bold;
		color:$doc_green;
		margin-top: 0;
		margin-bottom: 4px;
	}
	.hr {
		border-bottom: 1px solid #cbcbcb;
		margin: 0 -15px;
		padding: 0;
	}
	.lbl {
		color: #fff;
		background-color: $doc_green;
		border-radius: 4px;
		padding: 2px 6px;
		font-size: 11px;
		white-space: nowrap;
		margin-top: 0px;
		display: inline-block;
		float: right;
		&.clear-both {
			clear: both;
		}
	}
	.col-xs-16 {
		.adress {
			width: 77%;
		}
	}
	.doc-reviews {
		font-size: 11px;
		text-decoration: underline;
		white-space: nowrap;
		margin: 1px 0 4px;
		display: inline-block;
		float: right;
		clear: both;
		color:#5850C3;
		&:hover {
			text-decoration: none;
		}
	}
	&.select-place {
		margin-top: -15px;
	}
	.select-place-title {
		margin-bottom: 20px;
	}


	.doc-border .adress {
		margin-top: -1px;
	}

	@media (max-width: 320px) and (orientation: portrait){
		.img-responsive {
			max-width: 120%;
		}
		.media-body {
			padding-left: 10px;
		}
	}
}
.ranking-stars {
	width: 78px;
	height: 14px;
	overflow: hidden;
	display: block;
	float: right;
	text-align: right;
	i {
		width: 12px;
		height: 12px;
		display: inline-block;
		background-image: url(../img/star.gif);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: top left;
		&.blank {
			background-position: bottom left;
		}
	}
}
.bottom-lbl {
	position: relative;
	.lbl {
		position: relative;
		right: 0;
		top: 0;
	}
}
.form-group.without_padding {
	margin-bottom: 0;
}
.date-line {
	font-size: 11px;
}
.main-ranking {
	.ranking {
		font-size: 28px;
	}
	.ranking-stars {
		display: inline-block;
		text-align: center;
		margin-top: 4px;
		padding-bottom: 8px;
		height: 16px;
		width: 100%;
		i {
			width: 16px;
			height: 16px;
		}
	}
	.doc-reviews {
		width: 100%;
		text-align: center;
		font-size: 14px;
		text-decoration: none;
	}
}
.doc-border {
	border:1px solid #a1a0a0;
	border-radius: 6px;
	padding: 6px 0;
}
.col-xs-offsetMy {
	margin-left: 3%;
}
.padding-vertical {
	margin: 7px;
}
.pull-down {
	padding-top: 2px;
}
.text-info {
	padding: 10px 40px 0;
	margin-bottom: 0px;
	line-height: 1.2em;
	color: #555;
	&.text-bottom {
		padding-left: 5px;
		padding-right: 5px;
		margin-top: 0;
		padding-top: 0;
		margin-bottom: 20px;
	}
}
.text-green {
	color: $doc_green;
}
.posrel {
	position: relative;
}
.arrow-to {
	position: absolute;
	right: 3%;
	top: 42%;
}
.row-gallery {
	margin: 0 -15px;
}
#Yamap {
	width: 100%;
	height: 100%;
}

/* TOP MENU */
.btn-group-invers {
	&.btn-centr.btn-group .btn-default {
		background-color: #282c35;
		color:#fff;
		padding-left: .5em;
		padding-right: .5em;
		&.active,
		&:hover {
			color:#fff;
			background-color: $doc_green;
		}
	}
}
.top-menu {
	overflow: hidden;
	height: auto;
	padding: 10px 15px 20px;
	top:-100%;
	min-height: 0;
	display: none;
	@include transition(top .4s ease-in-out);
	&.active {
		top:0;
		display: block;
	}
	label {
		color: #fff;
		font-size: 15px;
		font-weight: normal;
	}
	.col-xs-16 {
		top: -8px;
		position: relative;
	}
	li.row {
	}
	.hr {
		border-bottom: 1px solid #1a1d23;
		margin: 0 -15px;
		padding: 0;
		height: 7px;
	}
	input[type="checkbox"] {
		display: none;
		&:checked+.check-custom {
			background-color: #0ea646;
			em {
				left:19px;
			}
		} 
	}
	.check-custom {
		display: inline-block;
		float: right;
		width: 50px;
		height: 30px;
		padding: 1px 2px;
		background-color: #30f378;
		border-radius: 15px;
		overflow: hidden;
		margin-right: 8px;
		em {
			display: block;
			width: 28px;
			height: 28px;
			background-color: #fff;
			border-radius: 14px;
			box-shadow: 0px 0 4px 1px #198D43;
			position: relative;
			left: 0;
			@include transition(left .3s ease-in-out);
		}
	}
	.ttl {
		margin-left: 8px;
		color: #fff;
		font-size: 15px;
		font-weight: normal;
		float: left;
	}
	label.radio {
		width: 60px;
		overflow: hidden;
		display: inline-block;
		.rad-cus {
			display: inline-block;
			width: 23px;
			height: 22px;
			background-image: url(../img/icos_big.png);
			background-size: 200px 105px;
			background-repeat: no-repeat;
			background-position: -142px -43px;
		}
		input {
			display: none;
			&:checked+.rad-cus{
				background-position: -117px -43px;
			}
		}
		.ttl2 {
			font-size: 11px;
			text-align: center;
			width: 100%;
			display: inline-block;
			white-space: nowrap;
		}
	}
	.col-xs-8 {
		margin-top: -5px;
	}
	.btn-primary {
		@include button-size(.5em, 0, 16px, 1.3em, 5px);
		width: 90%;
		margin-top: 0;
		margin-left: 5%;
	}
	.btn-warning {
		@include button-size(.5em, 0, 16px, 1.3em, 5px);
		width: 90%;
		margin-top: 0; 
		margin-right: 5%;
		float: right;
	}
}

/* LEFT MENU */
.left-menu {
	position: fixed;
	top:0;
	width: 0;
	left:-80%;
	height: 100%;
	background-color: #282c35;
	z-index: 1040;
	@include transition(left .3s ease-in-out);
	&.active {
		left: 0;
		width: 80%;
	}
	ul {
		margin: 0;
		padding: 0;
	}
	li {
		display: block;
		width: 100%;
		border-bottom: 1px solid #20232a;
		&:active,
		&:hover,
		&.active {
			background-color: #22262e;
		}
	}
	a {
		color:#eff3fa;
		font-size: 16px;
		height: 50px;
		line-height: 50px;
		display: block;
		padding-left: 17px;
		text-decoration: none;
		white-space: nowrap;
		position: relative;
		overflow: hidden;
		.ico-arrow-right1 {
			position: absolute;
			top: 16px;
			right: 10px;
			width: 16px;
		}
	}
}

@media (min-width: $screen-sm-min) {
	.left-menu {
		left:0;
		top: 42px;
		width: 54px;
		a {
			padding-left: 15px;
			padding-top: 9px;
		}
		&.active {
			left: 0;
			width: 54px;
		}
	}
	.container-main {
		margin-left: 54px;
		&.top-menu {
			margin-left: 0;
			position: relative;
			display: none;
			top: -43px;
		}
		&.top-menu.active {
			display: block;
		}
	}
	.sm-hidden {
		display: none;
	}
	.ico-arrow-right1 {
		display: none;
	}
	.doc-list {
		.col-xs-16 {
			.adress {
				width: 100%;
				margin-right: -66px;
			}
		}
	}

	#Yamap {
		padding-left: 54px;
		overflow: hidden;
	}
}
