.ico-menu, .ico-settings {
	float: left;
	padding: $navbar-padding-vertical $navbar-padding-horizontal*2+1;
	font-size: $font-size-large;
	line-height: $line-height-computed;
	height: $navbar-height;
	i {
		width: 14px;
		height: 14px;
		display: block;
		margin-top: 2px;
	}
}
.ico-menu {
	i {
		background-position:  -4px -6px;
	}
}
.ico-settings {
	i {
		background-position: -23px -4px;
		height: 16px;
		width: 16px;
		margin-top: 1px;
	}
	float: right;
}

.ico-menu i.back-ico {
	background-position: -74px -26px;
}

.ico-circl {
	font-size: 13px; 
	color: #2a6496;
	text-decoration: underline;
	width: 100%;
	text-align: center;
	display: block;
	span {
		border-radius: 50%;
		margin: 0 auto;
		width: 51px;
		height: 51px;
		border:1px solid $doc_green;
		display: block;
		clear: both;
		i {
			width: 18px;
			height: 18px;
			margin-top: 17px;
			margin-left: 17px;
			display: block;
		}
	}
}
.ico-circl.ico-desktop i {
	background-position: -51px -24px;
}
.ico-circl.ico-call i {
	background-position: -23px -24px;
}

.doc-ico {
	background-image: url(../img/icos_big.png);
	background-size: 200px 105px;
	background-repeat: no-repeat;
	display: inline-block;
	width: 18px;
	height: 18px;

	&.ico-clinic {
		background-position:  0px -23px;
		height: 20px;
		top: 2px;
		position: relative;
		margin-right: 5px;
	}
	&.ico-about {
		background-position: -64px -3px;
		height: 20px;
		top: 5px;
		position: relative;
		margin-right: 5px;
	}
	&.ico-about-clinic {
		background-position: -154px -21px;
		height: 20px;
		top: 5px;
		position: relative;
		margin-right: 5px;
	}
	&.ico-education {
		background-position: -86px -3px;
		height: 20px;
		top: 5px;
		position: relative;
		margin-right: 5px;
	}
	&.ico-sert {
		background-position: -109px -3px;
		height: 20px;
		top: 5px;
		position: relative;
		margin-right: 5px;
	}
	&.ico-gal {
		background-position: -157px -3px;
		height: 20px;
		top: 5px;
		position: relative;
		margin-right: 5px;
	}
	&.ico-spec {
		background-position: -178px -4px;
		height: 20px;
		top: 5px;
		position: relative;
		margin-right: 5px;
	}

	&.ico-addr {
		background-position: -43px -4px;
		width: 14px;
		position: absolute;
		top:0px;
		left:0;
	}
	&.ico-metro {
		background-position: -117px -23px;
		width: 15px;
		position: absolute;
		top:0px;
		left:0;
	}
	&.ico-arrow-right {
		background-position: -97px -25px;
		width: 14px;
	}
	&.ico-calendar {
		background-position: -131px 1px;
		width: 21px;
		height: 21px;
	}
	&.ico-search1 {
		background-position: 0px -43px;
		width: 21px;
		height: 21px;
		top: 6px;
		position: relative;
		margin-right: 10px;
	}
	&.ico-doctor {
		background-position: -19px -43px;
		width: 21px;
		height: 21px;
		top: 6px;
		position: relative;
		margin-right: 10px;
	}
	&.ico-clinic1 {
		background-position: -40px -43px;
		width: 21px;
		height: 21px;
		top: 6px;
		position: relative;
		margin-right: 10px;
	}
	&.ico-call {
		background-position: -82px -42px;
		width: 21px;
		height: 22px;
		top: 6px;
		position: relative;
		margin-right: 10px;
	}
	&.ico-filter {
		background-position: -61px -42px;
		width: 21px;
		height: 21px;
		top: 6px;
		position: relative;
		margin-right: 10px;
	}
	&.ico-arrow-right1 {
		background-position: -100px -42px;
		width: 21px;
		height: 21px;
		top: 6px;
		position: relative;
		margin-right: 10px;
	}
	&.ico-map {
		width: 38px;
		height: 38px;
		background-position: 0 -66px;
		position: fixed;
		right: 3%;
		bottom: 3%;
	}
}

.ico-search {
	position: absolute;
	left: 20px;
	top: 9px;
	width: 17px;
	height: 18px;
	background-position: -137px -23px;
}