body {
	position: relative;
	height: 100%;
	min-height: 260px;
	overflow-x: hidden;
	overflow-y: auto;
}
.container-main {
	height: 100%;
	overflow: auto;
	position: absolute;
	width: 100%;
	min-height:auto;
	border: 1px solid #fff;
	padding-bottom: 60px;
	&.top-menu {
		position: absolute;
	}
}
.navbar-fixed-top, .navbar-fixed-bottom {
	position: absolute;
}
.doc-ico {
	&.ico-map {
		position: absolute;
		right: 30px;
		bottom: 10%;
	}
}
.row-bottom {
	position: static;
	margin: 20px 0;
	bottom: auto;
	width: auto;
}
.active.top-menu {
	overflow-x: hidden;
}
.top-menu .row-select {
	height: 90px;
}
.left-menu {
	top: 0px;
	position: absolute;
}
@media (min-width: 480px) {
	.left-menu {
		top: 42px;
		height: calc(100% - 42px);
	}
}