html
  head
    title Doctu.ru - подбор врача 12
    == Slim::Template.new('head.slim').render
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          #show_menu.ico-menu
            i.doc-ico
          .navbar-brand Подбор врача
          .ico-settings data-type="menu-doc"
            i.doc-ico
    == Slim::Template.new('menu.slim').render
    .container.container-main#main
      .row
        .col-xs-16
          p.text-center.text-info Для подтверждения записи пожалуйста заполните поля ниже
      .row
        .col-xs-16
          form.search-form role="form" 
            .form-group
              input.form-control.input-lg placeholder=("Ваше ФИО") type="text" 
            .form-group
              input.form-control.input-lg placeholder="Телефон" type="text" 
            .form-group
              .btn.btn-primary.btn-lg.btn-block Отправить
  == Slim::Template.new('script.slim').render
