html
  head
    title Doctu.ru - Поиск
    == Slim::Template.new('head.slim').render
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          a.ico-menu href="./1.html" 
            i.doc-ico.back-ico
          .navbar-brand.doc-title Клиническая больниц...


    == Slim::Template.new('menu.slim').render

    .container.container-main
      .row
        .btn-group.btn-centr.three-btn
          button.btn.btn-default.search-doctor.active type="button"  Анкета
          button.btn.btn-default.search-clinic type="button"  Инфо
          button.btn.btn-default.search-clinic type="button"  Отзывы
      .row
        .col-xs-16
          ul.media-list.doc-list
            li.media.row
              .media-body.col-xs-11
                a href="/doc.html" 
                  h4.media-heading Клиническая больница №133 им. Л.Г.Соколова
              .col-xs-5.text-right
                h3.ranking 5,0
                span.ranking-stars
                  i
                  i
                  i
                  i
                  i
            li.hr
            li.media.row
              .media-body.col-xs-16.posrel
                h2
                  i.doc-ico.ico-clinic
                  | Адрес
                p.adress
                  i.doc-ico.ico-metro
                  | Удельная, Пионерская
                p.adress
                  i.doc-ico.ico-addr
                  | Константинопольский переулок, 7
                a.arrow-to href="/1.html" 
                  i.doc-ico.ico-arrow-right
            li.hr
            li.media.row
              .media-body.col-xs-16.posrel
                h2
                  i.doc-ico.ico-calendar
                  | График работы
              .col-xs-16
                dl.dl-horizontal
                  dt Будни:
                  dd 09:00 - 21:00
                  dt Сб:
                  dd 10:00 - 18:00
                  dt Вс:
                  dd 11:00 - 16:00
            li.hr
            li.media.row
              .col-xs-16
                form role="form" 
                  .form-group
                    .btn.btn-primary.btn-lg.btn-block Записаться на прием
                  .form-group
                    a.btn.btn-success.btn-lg.btn-block.animated href="tel:5551234567" Позвонить
  
  == Slim::Template.new('script.slim').render